

  .sub-containeronboard {
    width:1150px;
    
    height:125px;
    position:relative;
    margin-left: 340px;
    margin-top: 70px;
    border:0.5px solid #979797 ;
   
    transform: scale(1.0) ; 
    border-radius: 4px;
    padding-left: 50px;
    padding-right: 20px;
    
  }

  .stepper-containeronboard {
      display: flex;
      transform: translateY(20px);
      justify-content: space-between;   
      padding-right: 15px;
    

     
    }
  
  .imageonboard {
    position: absolute;
    top:-2px;
    height: 44px;
    width: 200px;
    color: black;
  }
  
  .steponboard {
    cursor: pointer;
    width: 40px;
    height: 42px;
    padding: 7px;
    border-radius: 50%;
    background-color: #C7C8CC;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
   
   
    
  }

  .visitedonboard {
    background-color: rgba(0, 183, 29, 1) ;
    color:white;
    
  }
  .visitedonboard.icononboard {
    color:white !important;
  }
  .steponboard.activeonboard {
    background-color: rgba(182, 210, 140, 1);
    color:#fff;
  }

  
  .btn-footer1onboard{
    position: relative;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
   
//     width: 1535px;
//   left: 10px;

  
// height: 108px;

// padding: 32px 32px 32px 817px;

// box-shadow: 3px 0px 10px 0px #00000040;

  }

  .save_nextonboard{
    width: 130px;
    
    margin-left: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    background-color:  #67833E;
    height: 45px;
    border: 1px dotted #67833E
  }

  .clear_allonboard{
    width: 130px;
    height:45px;
    margin-left: 420px;
    color: #67833E;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    border: 1px solid #67833E;
    background:none;
  }

  .btn-containeronboard{
    position:relative;
   right: -10px;
    width: 1555px;
height: 108px;
// top: 1034px;
top: 70px;
left: 340px;
padding: 32px 32px 32px 817px;
gap: 0px;
opacity: 0px;
box-shadow: 3px 0px 10px 0px #00000040;


  }

  .icon-textonboard{
    color:black;
    font-size: 14px;
    margin-top:3px;
    margin-left:-4px; 
    text-align:center;
   margin-right: 25px;
  }
 
  
  .stepper-progressonboard {
    position: relative;
    top: 60px;
    z-index: -1;
    /* border: 1px solid red; */
      
      /* Maximum width */
      width:990px;

      border-bottom: 1px dotted ;
      height: 2px;

    background-color: #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
 
  }
  
  .progress-baronboard {
    height: 100%;
    background-color: rgba(0, 183, 29, 1);
    border-radius: 5px;
   
  }
/*   
  @media (max-width:1280px) {
    .sub-container{
      width: 1280px;
    }
    .container{
      padding-top: 100px;
    }
    
  }

  @media (max-width: 4000px) {
    .stepper-progress {
      width: 850px  ;
    }
    .container {
     
      margin-left: 360px;
      margin-bottom: 160px ;
    }
    .sub-container {
      transform: scale(1);
    }
  } */

  @media (max-width: 1280px) {
    .sub-containeronboard {
      width:900px;  
      top: 100px;
    }
   
  }
  
  @media (max-width: 1080px) {
  
    .sub-containeronboard {
      width:800px;  
      top: 100px;
      margin-left: 250px;
     
    
    }
    .stepper-progressonboard
    {
      width: 630px;
      border: 1px solid red;
    }
  }

  @media (max-width: 1500px) {
  
    .sub-containeronboard {
      width:1000px;  
      left: 10px;
    
    }
    .stepper-progressonboard
    {
      width: 850px;
    }
  }
  @media (max-width: 1390px) {
  
    .sub-containeronboard {
      width:900px;  
     
    
    }
    .stepper-progressonboard
    {
      width: 750px;
    }
  }
  @media (max-width: 1288px) {
  
    .sub-containeronboard {
      width:870px;  
     
    
    }
    .stepper-progressonboard
    {
      width: 700px;
    }
  }

  @media (max-width: 1260px) {
  
    .sub-containeronboard {
      width:770px;  
     
    
    }
    .stepper-progressonboard
    {
      width: 600px;
    }
  }
  @media (max-width: 1160px) {
  
    .sub-containeronboard {
      width:600px;  
     
    
    }
    .stepper-progressonboard
    {
      width: 450px;
    }
  }
  
  
  


  /* @media (max-width:1500px) {
    .sub-container{
      width: 750px;
    }
    .container{
      padding-top: 50px;
    }
    
  }
  @media (max-width:1500px) {
    .sub-container{
      width: 750px;
    }
    .container{
      padding-top: 50px;
    }
    
  } */
 