*{
    font-family: Poppins;
}
.Pickup_form{
    
    display: flex;
    flex-direction: column;
    text-align: start;
    width:700px;
    position: relative;
    top: -125px;
}
.Pickup_heading1{
    
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #2f2f2f;
   font-weight: 600;
    margin-bottom: 25px;

}
.Pickup_heading3 {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    color:rgba(102, 102, 102, 1);
    margin-bottom: 15px;

}
.Pickup_heading10 {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    color:rgba(102, 102, 102, 1);
    

}
.Pickup_heading11 {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    color:rgba(102, 102, 102, 1);
    
    

}
.Pickup_heading2{
   
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #2f2f2f;
    font-weight: 500;
   
  
    margin-bottom:1px;
    margin-top: -10px;
}

.blue {
 width:119px;   
 padding: 4px, 16px, 4px, 16px;
 height: 34px;
 border:0.1px;
 border-radius: 30px;   
 font-size: 14px;
 border-color: rgba(13, 121, 220, 1);
background-color: rgba(13, 121, 220, 1);
color: white; 
}

.Pickup_heading4{
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
    font-weight: 500;

}
.checkbox_class{
    width:400px;
   display: flex;
  margin-bottom: -21px;
    justify-content: start;
    gap:10px;
} 
.Payment_checkbox{
    margin:10px;

}
.Pickup_heading5{
    font-size: 14px;
    font-weight: 400;
    margin-top: 22px;

    
}
.checkbox1{
display: flex;
justify-content: flex-start;
accent-color:rgba(103, 131, 62, 1);
width: 20px;
.checkbox1 .checkbox{
    margin-top: 12px;
}


}
.from_to{
    gap: 286px;
    width:300px;
    display: flex;
    justify-content: start;
}
.Pickup_heading6{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
}

.Pickup_heading6to
{
    margin-left: -12px;
}
.textbox1{
width:300px;
height: 44px;
font-size: 16px;

}
.textbox2{
    width:300px;
    height: 44px;
    margin-left: 15px;
    font-size: 16px;

}
.label2{
    
    font-size:15px;
 
    
}
.label1{
    
    font-size:15px;
    margin-left:12px;
    margin-top: -30px;
}
.Pickup_heading7{
    margin-top:30px;
    font-size: 16px;
    font-weight:500;
    line-height: 20px;

}
.Pickup_heading12{
    margin-top:15px;
    font-size: 16px;
    font-weight:500;
    line-height: 20px;
}

.Pickup_heading13{
    margin-top:30px;
    font-size: 16px;
    font-weight:500;
    line-height: 20px;
}
.Payment_checkbox1{
    accent-color:rgba(103, 131, 62, 1);
    width: 18px;
    height: 18px;
    

}

.from_to_input
{
    input{
        width: 292px;
        height: 44px;
        border-radius: 4px;
        border: 1px solid #B3B3B3;
        font-size: 16px;
        font-family: Poppins;
        font-weight: 400;
        line-height: 24px;
        padding-left: 3px;
    }
}

.radioo1{

    accent-color: rgba(103, 131, 62, 1);
    width: 16px;
    
 }
.radioo2{
   margin-left: 15px;
   accent-color:rgba(103, 131, 62, 1);
   width: 16px;
 
   
}
.updown{
    margin-left:20px;
    width:133px;
    height:44px;




}

.Pack_type{
    margin-top: 20px;
    width:292px;
    height:44px;
    font-size: 16px;
}.ETA_type{
    width:292px;
    height:44px;
    font-size: 16px;
}
.arrow1 {
    transform: translateX(110px);
    margin-top: -55px;
    .upsideArrow {
      img {
        transform: rotate(180deg);
        cursor: pointer;
      }
    }
    .downsideArrow {
      img {
        cursor: pointer;
      }
    }
  }


.picketa
{
    height: 30vh;
    input{
       
        border-radius: 4px;
        border: 1px solid #B3B3B3;
        font-size: 16px;
        font-family: Poppins;
        font-weight: 400;
        line-height: 24px;
        padding-left: 3px;
        margin: 4px;
        margin-left: -2px;


    }
}
.pickupduration
{
    input{
       
        border-radius: 4px;
        border: 1px solid #B3B3B3;
        font-size: 16px;
        font-family: Poppins;
        font-weight: 400;
        line-height: 24px;
        padding-left: 42px;
        margin: 4px;
        margin-left: -2px;


    }
}

.PackagingCharge
{
    input{
       
        border-radius: 4px;
        border: 1px solid #B3B3B3;
        font-size: 16.5px;
        font-family: Poppins;
        font-weight: 400;
        line-height: 24px;
        padding-left: 12px;
        margin-left: -2px;

    }
}
.picketa{
    input{
        padding-left: 12px;
    }
}

.Pickup_container{
    width:500px;
    position: relative;
    top:150px;
    left:375px;
}
.error_pickup{
    color: red;
    font-size: 14px;
}
.error-flex{
    transform: translateX(330px);
    margin-top: -20px;
    color: red;
    font-size: 14px;
}
.Pickcheck{
   
    accent-color:rgba(103, 131, 62, 1);
    width: 18px;
height: 18px;


border: 2px solid #979797;



}
.switchButtonStyles {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    background-color:rgba(249, 249, 249, 1)
    ; /* Background for the switch */
    border-radius: 25px; /* Rounded corners for the background */
    padding: 5px; /* Some padding around the buttons */
    width: 190px; /* Adjust to content width */
    overflow: hidden; /* Ensures that the rounded corners are maintained */
    margin-left: -8px;
  }
  .hello{
   font-size: 14px;
   border-radius: 20px;   
    outline: none;
    border:none;
    width:119px;
    cursor: pointer;
   
    
  }
  
  .switchButtonStyles .button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left:60px ;
    transition: background-color 0.3s ease,  0.3s ease;
    background-color: transparent; /* Default background */
    color: #6c757d; /* Default color for inactive button */
    flex: 1; /* Ensure both buttons take up equal space */
    text-align: center; /* Center the text */
    border-radius: 0; /* Remove individual border radius */
  }
  
  .switchButtonStyles .button:first-child {
    border-top-left-radius: 25px; /* Round the top-left corner */
    border-bottom-left-radius: 25px; /* Round the bottom-left corner */
  }
  
  .switchButtonStyles .button:last-child {
    border-top-right-radius: 25px; /* Round the top-right corner */
    border-bottom-right-radius: 25px; /* Round the bottom-right corner */
  }
  
  .switchButtonStyles .button.active {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    
  }
  
  

@media(max-width:1280px)
{
    
.Pickup_container{
    width:500px;
    position: relative;
    margin-top: -70px;
    margin-left: -10px;
   

}
}
@media(max-width:1080px)
{
    
.Pickup_container{
   
   position: relative;
    margin-top: -70px;
    left: 280px;
    

}
}

