.workingDay {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.session {
  display: flex;
  margin-bottom: 10px;
  // background-color: #f23d3d;
}
.sessionContainer {
  margin-right: 15px;

  input[type="radio"] {
    display: none;
  }

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  input[type="radio"] + p::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #979797;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
  }

  input[type="radio"]:checked + p::before {
    background-color: #67833e;
    border-color: #67833e;
    box-shadow: inset 0 0 0 4px white;
  }

  p {
    margin-top: 18px;
    //styleName: Subtitle/Text 16;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #2F2F2F;

  }
}

.addDayAndTimeWor {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

@media (max-width: 1280px) {
  .workingDay {
    width: 100%;
  }
  .session {
    display: flex;
    width: 700px;
  }
  .sessionContainer {
    margin-right: 15px;

    input[type="radio"] {
      display: none;
    }

    label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    input[type="radio"] + p::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      border: 2px solid #979797;
      border-radius: 50%;
      margin-right: 5px;
      vertical-align: middle;
      cursor: pointer;
    }

    input[type="radio"]:checked + p::before {
      background-color: #67833e;
      border-color: #67833e;
      box-shadow: inset 0 0 0 4px white;
    }

    p {
      margin-top: 18px;
      color: #2f2f2f;
    }
  }

  .addDayAndTimeWor {
    // border: 1px solid black;
    // height: 80px;
    // background-color: salmon;
    .pAdd {
      color: #67833e;
      margin-top: -55px;
      margin-left: 630px;
      margin-right: 480px;
      margin-bottom: 30px;
      cursor: pointer;
      font-weight: 600;
      text-align: center;
      // background-color: brown;
      width: 100px;
      height: 25px;
      font-size: medium;
    }

    .delete-day-time {
      color: #f23d3d;
      width: 110px;
      height: 25px;
      position: relative;
      left: 628px;
      bottom: 52px;
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
      font-weight: 600;
      text-align: center;
      // background-color: brown;
      font-size: medium;
    }
  }
}

@media (max-width: 800px) {
  .sessionContainer {
    // margin-right: 15px;
    width: 200px;

    input[type="radio"] {
      display: none;
    }

    label {
      // width: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    input[type="radio"] + p::before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 2px solid #979797;
      border-radius: 50%;
      margin-right: 5px;
      vertical-align: middle;
      cursor: pointer;
    }

    input[type="radio"]:checked + p::before {
      background-color: #67833e;
      border-color: #67833e;
      box-shadow: inset 0 0 0 4px white;
    }

    p {
      margin-top: 18px;
    }
  }
  .session {
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // background-color: aqua;
  }
  .addDayAndTime {
    .pAdd {
      color: #67833e;
      // margin-top: -30px;
      padding-top: 5px;
      margin-left: 130px;
      margin-right: 480px;
      margin-bottom: 30px;
      cursor: pointer;
      font-weight: 600;
      text-align: center;
      // background-color: brown;
      width: 65px;
    }

    .delete-day-time {
      color: #f23d3d;
      width: 110px;
      position: relative;
      left: 94px;
      bottom: 48px;
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
      font-weight: 600;
      text-align: center;
      // background-color: brown;
    }
  }
}