.main
{
    display: flex;
    /* justify-content: center; */
    margin-left: 350px;
    flex-direction: column;
}

.linkitems
{

}

.Addoutlet
{
    cursor: pointer;
}

.homeoutlet{
    position: relative;  
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #2F2F2F;
    font-weight: initial;
    margin-top: 20px;
}
.nav-listts {
    list-style: none;
    display: flex;
    
    margin-top: 50px;
  }
  
  /* List item styles */
  .nav-items {
    cursor: pointer;
    transition: background-color 0.3s;
    /* border-radius: 5px; */
  margin-left: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 24px;
text-align: left;

  }
  
  /* Active category styles */
  .nav-items.activee {
    
   
    height: 30px;
   
    border-bottom: 2px solid rgba(104, 132, 64, 1);
    color: #67833e;
    font-weight: 600;
    
  
    
    
    /* Change text color if desired */
  }
  .nav1,
  .nav2,
  .nav3 {
    margin-left: 25px;
  }
  

.homeimg{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.homeimg img{
    width: 361px;
    height: 388 px;
    margin-top: 150px;
    margin-left: 100px;

}
.homeimg button{
    width: 121px;
    height: 35px;
    margin-left: 80px;
    background-color: #67833E;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

@media (max-width:1280px)
{
    .homeoutlet
    {
      

    }
    .homeimg img{
        width: 330px;
        height: 340px;
        margin-top: 250px;
       
    
    }
    
}

@media (max-width:1080px)
{
    .homeoutlet
    {
       margin-left: -100px;
      
       
    }
    .homeimg img{
      
        margin-top: 200px;
        margin-left: -20px;
       
    
    }
    .homeimg button{
       
        margin-left: 10px;
       
    }
    
}