.pills{
    width: 20%;
    height: 20%;
}

.pillsContainer{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
    img{
        cursor: pointer;
    }
    .arrowDown {
        margin-right: 5px;
        transform: rotate(180deg);
    }
    .arrowUp {
        margin-right: 5px;
        transform: rotate(0deg);
    }
    .pillsContent{
        display: flex;
        flex-wrap: wrap;
        width: 550px;
        height: fit-content;
        gap: 20px;
        margin: 20px;
        .pillsModal{
            width: 100%;
            border-top: 1px solid #000;
            padding-top: 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            .iPills{
                cursor: pointer;
            }
        }
        .iPills{
            width: fit-content;
            display: flex;
            background-color: #EBEBEB;
            padding: 7px 7px 7px 7px;
            border-radius: 13px;
            font-size: 13px;
            font-weight: 600;
            justify-content: space-between;
            img{
                margin-left: 10px;
                padding-top: 5px;
                height: 13px;
            }
        }
        .pillsModal .iPills:hover{
            box-shadow: 1px 1px 1px 1px gray
        }
    }
}

@media(max-width:1280px){
    .pillsContainer{
        padding: 3px;
        .pillsContent{
            width: 400px;
            gap: 20px;
            margin: 20px;
            .pillsModal{
                padding-top: 20px;
                gap: 15px;
            }
            .iPills{
                padding: 5px 5px 5px 5px;
                border-radius: 13px;
                font-size: 11px;
                font-weight: 600;
                justify-content: space-between;
                img{
                    margin-left: 8px;
                    padding-top: 3px;
                }
            }
        }
    }
}