
   * {
    margin: 0;
    padding: 0;
  }

  .headingloc {
    

    font-size: 20px;
    font-family: poppins;
    font-weight: 600;
    line-height: 30px;
    color: #2f2f2f;
    position: absolute;
 
 
   

  
  }

  .main-divloc {
    display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      top: 20px;
      left: 340px;
     
  }

  .submain-divloc{
    position: relative;
 
    
  
 }
  .heading-divloc {
   
   
    font-family: Poppins;
    margin-bottom:1px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    color: #2F2F2F;
   
    
  }

  .headingloc1
  {
    font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
text-align: left;
color: #2F2F2F;

  }

  
  .headingloc2
  {
   
    font-family: Poppins;
    font-size: 14px;
  color: #2F2F2F;
  font-weight: 400;
    line-height: 21px;
    text-align: left;
    
  }





  .form-divloc{
    display:flex;
    flex-direction: column;
   
    margin-top: 5px;
  
  
  }
  .labelinput-divloc{
    display: flex;
    flex-direction: column;
   
   
      
  }
  .labelinput-divloc1{
    display: flex;
    flex-direction: column;
margin-top: -10px;   
   
      
  }
  .labelloc {
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    color: #666666;
    margin-top: 10px;

    margin-top: 20px;
    
  }
  .labelloc1 {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    color: #666666;
    margin-top: -5px;
 

  }
  .inputboxloc{
      width: 600px;
      height: 44px;
      border-radius: 4px;
      border: 1px solid #B3B3B3;
      margin-top: 3px;
      color:black ;
      font-size: 16px;
      font-family: Poppins;
      font-weight: 400;
      padding: 10px;
    
   
  
      
  }
  
 

  .inputbox2loc{
      width: 292px;
      height: 44px;
      border-radius: 4px;
      border: 1px solid #B3B3B3;
      font-size: 16px;
      font-family: Poppins;
      font-weight: 400;
      padding: 10px;
     
      
  }

  .error-message h1{
    font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: red;
}
.error-message1 {
  font-family: 'Poppins', sans-serif;
font-size: 14px;
margin-bottom: 20px;
color: red;
}

.inputBoxError{
  width: 292px;
      height: 44px;
      border-radius: 4px;
      border: 1px solid red;
      font-size: 16px;
      font-family: Poppins;
      font-weight: 400;
      padding: 10px;
}

.btn{
  font-style: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: Poppins;
  color: #67833E;
  background-color: white;
  border:none;
  position: relative;
 left: 263px;
 top: -30px;
  cursor: pointer;
  margin-top: 5px;

}
.btndel{
  font-style: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: Poppins;
  color: red;
  background-color: white;
  border:none;
  position: relative;
 left: 255px;
 top: -30px;
  cursor: pointer;
  margin-top: 5px;


}



 

  
  // @media (max-width:1280px) {
  //   .main-divloc {
  //     display: flex;
  //     justify-content: flex-start;
  //     align-items: center;
  //     position: relative;
  //     top: 120px;
  //     left: 360px;
  //   }
  // }
  
 
  // @media screen and (max-width: 1080px) {
  //   .main-divloc{
  //     display: flex;
  //     justify-content: flex-start;
  //     align-items: center;
  //     position: relative;
  //     top: 70px;
  //     left: 50px;

  //   }
    
   
    
  // }
  


  @media (max-width:1280px) {
    .main-divloc{
    
      position: relative;
      top: 120px;
      left: 360px;
    }


  }

  @media (max-width:1080px) {
    .main-divloc {
    
      position: relative;
      top: 120px;
      left: 250px;
    }


  }
  /* Media query for max-width 800px */
  @media screen and (max-width: 900px) {
    .personal-detailsloc{
      display: flex;
      flex-direction: column;
    }
   
   
  
   
    
  }
  
  /* Media query for max-width 500px */
  @media screen and (max-width: 500px) {
    
   
  
  }
  
  
  