
   * {
    margin: 0;
    padding: 0;
  }

  .headingloc {
    

    font-size: 20px;
    font-family: poppins;
    font-weight: 600;
    line-height: 30px;
    color: #2f2f2f;
    position: absolute;
 
 
   

  
  }

  .main-divloc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 70px;
    left: 30px;  
  }

  .submain-divloc{
    position: relative;
 
    
  
 }
  .heading-divloc {
   
   
    font-family: Poppins;
    margin-bottom:1px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    color: #2F2F2F;
   
    
  }

  .headingloc1
  {
    font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
text-align: left;
color: #2F2F2F;

  }

  
  .headingloc2
  {
   
    font-family: Poppins;
    font-size: 14px;
  color: #2F2F2F;
  font-weight: 400;
    line-height: 21px;
    text-align: left;
    
  }





  .form-divloc{
    display:flex;
    flex-direction: column;
   
    margin-top: 5px;
  
  
  }
  .labelinput-divloc{
    display: flex;
    flex-direction: column;
   
   
      
  }
  .labelloc {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    color: #666666;
    margin-top: 20px;
  }
  .inputboxloc{
      width: 600px;
      height: 44px;
      border-radius: 4px;
      border: 1px solid #B3B3B3;
      margin-top: 3px;
      color:black ;
      font-size: 16px;
      font-family: Poppins;
      font-weight: 400;
     
      padding: 2px;
      margin: 1px;
   
  
      
  }
  
 

  .inputbox2loc{
      width: 292px;
      height: 44px;
      border-radius: 4px;
      border: 1px solid #B3B3B3;
      font-size: 16px;
      font-family: Poppins;
      font-weight: 400;
      padding: 10px;
     
      
  }
 

  
  @media screen and (max-width: 1280px) {
    .main-divloc {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      top: 70px;
      left: 30px;
      /* border: 1px solid black; */
    }

    
  
   
  }
  
  /* Media query for max-width 1080px */
  @media screen and (max-width: 1080px) {
    .main-divloc{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      top: 70px;
      left: 50px;
      /* border: 1px solid black; */
    }
    
   
    
  }
  
  /* Media query for max-width 800px */
  @media screen and (max-width: 800px) {
   
   
  
   
    
  }
  
  /* Media query for max-width 500px */
  @media screen and (max-width: 500px) {
    
   
  
  }
  
  
  