// src/SimpleComponent.scss

.main-componentPickup{
    position: absolute;
    top: -210px;
    right: 0px;
    left: -350px;
    bottom: 0px;
    
    width: 105vw;
    height: 105vh;
    background-color: rgba(49,49,49,0.8);
    z-index: 1099;
}
.simple-componentPickup {
    position: absolute;
    top: 300px;
    left: 600px;

   
    
    width: 600px;
    
   
    background-color: #FFFFFF;
    

   
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px #FFFFFF;
    h1 {
      color: #333;
    }
  
    p {
        color: black;
    }
  }
  .imgmodalPickup{
    width: 175.75px;
    height: 125.54px;
  }

  .btndivpendingPickup{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 15px;
  }

  .btnnopendingPickup{

        width: 100px;
        height:  44px;
        border-radius: 4px;
        padding: 10px, 14px, 10px, 14px;
        cursor: pointer;
  }

  .btnyespendingPickup{

    width: 100px;
    height:  44px;
    border-radius: 4px;
    border: 1px soild;
    padding: 10px, 14px, 10px, 14px;

    background-color: #67833E;
    color: white;
    cursor: pointer;


  }

  .btnyespendingPickup:hover{
    background-color: green;

    
  }

  .btnnopendingPickup:hover{
    background-color: gray;
    color: white;


  }

  .btncrossPickup{
    padding: 3px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    position: relative;
    top: -100px;
    left: 300px;
    cursor: pointer;

  }
