/* ThreeDots.css */

.ThreeDots-container {
    display: flex;
    flex-direction: column-reverse;
    
    width: 50px; /* Adjusted width for better alignment */
    height: auto; /* Let the height be determined by content */
    gap: 15px;
    
    position: absolute; /* Position it absolutely relative to the button */
    top:150px;
   left:850px;
    /* Align with the button */
    padding: 10px; /* Optional: padding inside the container */
    border-radius: 5px; /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: shadow effect */
}

.dots {
    position: fixed; /* Makes the button fixed */
    top:290px;
    left: 870px;
     /* Adjust this value to position the button from the right */
    background-color: transparent; /* Optional: to make the button background transparent */
    border: none; /* Optional: to remove the default border */
    cursor: pointer; /* Optional: to change the cursor on hover */
}

.dots img {
    width: 24px; /* Adjust the size of the image as needed */
    height: 24px;

}

.copy {
    color: white;
    
    width: 24px;
    height: 24px;
    cursor: pointer;
  
}
