

    * {
      margin: 0;
      padding: 0;
    }
    
    .main-divres {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      top: 20px;
      left: 340px;
     
      /* border: 1px solid black; */
    }
    
    .submain-divres {
      position: relative;
      /* margin-top: 2%; */
    }
    
    .heading-divres {
      font-family: Poppins;
      margin-bottom: 1px;
      color: #2F2F2F;
      font-weight: 600;
      font-size: 20px;
    }
    
    .form-divres {
      display: flex;
      flex-direction: column;
      /* border: 2px solid red; */
      margin-top: 5px;
    }
    
    .labelinput-divres {
      display: flex;
      flex-direction: column;
      /* border: 1px solid black; */
      /* margin-top: 20px; */
    }
    
    .labelres {
      font-size: 16px;
      font-family: Poppins;
      font-weight: 400;
      color: #666666;
      margin-top: 20px;
    }
    
    .inputboxres {
      width: 600px;
      height: 44px;
      border-radius: 4px;
      border: 1px solid #B3B3B3;
      margin-top: 3px;
      color: black;
      font-size: 16px;
      font-family: Poppins;
      font-weight: 400;
      padding: 10px;
      margin: 1px;
    }
    
    .radio-labelres {
      font-family: Poppins;
      padding-left: 10px;
      font-size: 16px;
    }
    
    .radiores {
      width: 25px;
      height: 15px;
      color:rgba(103, 131, 62, 1);

      transform: translateX(-5px);
     position: relative;
     top:2px;
      accent-color: rgba(103, 131, 62, 1)


    }
    .radiores2
    {
      margin-left: 40px;
    }
    
    .inputbox2res {
      width: 292px;
      height: 44px;
      border-radius: 4px;
      border: 1px solid #B3B3B3;
      font-size: 16px;
      font-family: Poppins;
      font-weight: 400;
      padding: 10px;
    }

    .inputboxres2{
      width: 550px;
      height: 44px;
      border-radius: 4px;
      border: 1px solid #B3B3B3;
      margin-top: 3px;
      color: black;
      font-size: 16px;
      font-family: Poppins;
      font-weight: 400;
      padding: 2px;
      margin: 1px;
    }

    .personal-detailsres
    {
      margin-left: 20px;
    }
    .error_Res{
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      color: red;
    }
    
    .inputbox-error {
      border: 1px solid red;
    }

    @media (max-width:1280px) {
      .main-divres {
      
        position: relative;
        top: 120px;
        left: 370px;
      }


    }

    @media (max-width:1080px) {
      .main-divres {
      
        position: relative;
        top: 120px;
        left: 260px;
      }


    }
    

    
    @media (max-width:900px) {
    .inputdivreg{
      display: flex;
      flex-direction: column;
    }
    .personal-detailsres
    {
      margin-left: 0px;
    }
    .main-divres {
      
      position: relative;
      top: 120px;
      left: 260px;
    }

    }
    
    
    