.AddTime {
  text-align: center;
  width: 70%;
  margin-bottom: 30px;
  margin-top: 30px;
  // background-color: salmon;
}
.time {
  display: flex;
  // gap: 5px;
  // background-color: darkseagreen;
  // height: 60px;
  .timeContainerOpen {
    // background-color: burlywood;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 69px;
    margin-left: 30px;
  }
  .timeContainerClose {
    // background-color: goldenrod;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 69px;
    margin-right: 250px;
  }
}
.nameBox {
  width: 125px;
  height: 20px;
  position: relative;
  left: 180px;
  color: #666666;
  // background-color: aqua;
  font-size: 14px;
  
}

@media (max-width: 1280px) {
  .AddTime {
    text-align: center;
    width: 70%;
    margin-bottom: 30px;
    margin-top: 30px;
    // background-color: red;
  }
  .time {
    display: flex;
    // gap: 5px;
    // background-color: red;
    .timeContainerOpen {
      // background-color: burlywood;
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 75px;
    }
    .timeContainerClose {
      // background-color: burlywood;
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 75px;
      margin-right: 250px;
    }
  }
  .nameBox {
    width: 100px;
    position: relative;
    left: 200px;
    // background-color: red;
    font-size: xx-small;
  }
}

@media (max-width: 800px) {
  .AddTime {
    // background-color: burlywood;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .time {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .nameBox {
    margin-left: -4px;
    // background-color: aqua;
    width: 70px;
   
  }
}