.time {
  input {
    margin-top: 2px;
    width: 292px;
    height: 44px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    color: #666666;
    border: 1px solid #b3b3b3;
  }

  input[type="time"] {
    border-color: #b3b3b3;
    border-width: 1px;
  }

  input[type="time"]::-webkit-calendar-picker-indicator {
    font-size: 1.5em;
  }
}

@media (max-width: 1280px) {
  .time {
    margin-left: 1rem;
    width: 100%;
    // background-color: cadetblue;
    input {
      margin-top: 10px;
      width: 400px;
      height: 44px;
      font-size: 15px;
      font-weight: light;
      font-family: "Poppins";
      border-radius: 4px;
      cursor: pointer;
      padding: 2px;
    }

    input[type="time"] {
      border-color: #b3b3b3;
      border-width: 1px;
    }

    input[type="time"]::-webkit-calendar-picker-indicator {
      font-size: 1.5em;
    }
  }
}
@media (max-width: 800px) {
  .time {
    input {
      margin-top: 3px;
      width: 290px;
      height: 44px;
      font-size: 8px;
      font-weight: light;
      font-family: "Poppins";
      border-radius: 4px;
      cursor: pointer;
      padding: 10px;
    
    }

    input[type="time"] {
      border-color: #b3b3b3;
      border-width: 1px;
    }

    input[type="time"]::-webkit-calendar-picker-indicator {
      font-size: 1.5em;
    }
  }
}