.Bank-Container {
    
    display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      top: 20px;
      left: 360px;
}

.form-Bank {
    display: flex;
    flex-direction: column;
}
.error-message{
    color:red;
    font-size: 14px;
}
.Bank_Main_Heading {
    margin-bottom: 15px;
    color: black;
    font-weight:800;
    font-size: 18px;
    font-family: Poppins;
}

.Bank-Account_Number,
.Re-Account_Number,
.Bank-Ifse_Code,
.Account_Holder_Number {
    display: flex;
    flex-direction: column;
}

.Bank_First_Heading,
.Bank_Second_Heading,
.Bank_Third_Heading,
.Bank_Fourth_Heading {
    font-size: 16px;
    font-weight:400;
    color: rgba(102, 102, 102, 1);
    font-family: "Poppins";
}

.TypeI,
.Type2,
.Type3,
.Type4 {
    border: 2px solid rgba(179, 179, 179, 1);
    width: 600px;
    height: 44px;
    font-family: Poppins;
    font-size: 16px;
}

.Account_Button {
    text-align: center;
    font-size: 16px;
    margin-top: 12px;
    padding-bottom: 15px;
    width: 600px;
    padding-top: 20px;
    color: white;
    background-color: rgba(103, 131, 62, 1);
    border: 2px solid rgba(103, 131, 62, 1);
}

.Terms {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}
@media (max-width: 1080px) {
    .TypeI,
    .Type2,
    .Type3,
    .Type4 {
        border: 2px solid rgba(179, 179, 179, 1);
        width: 400px;
        height: 44px;
        font-family: Poppins;
        font-size: 16px;
    }

    .Account_Button {
        text-align: center;
        font-size: 16px;
        margin-top: 12px;
        padding-bottom: 15px;
        width: 200px;
        padding-top: 20px;
        color: white;
        background-color: rgba(103, 131, 62, 1);
        border: 2px solid rgba(103, 131, 62, 1);
    }
    
}

@media (max-width:1280px) {
    .Bank-Container {
    
      position: relative;
      top: 120px;
      left: 360px;
    }
  
  
  }
  
  @media (max-width:1080px) {
    .Bank-Container{
    
      position: relative;
      top: 120px;
      left: 250px;
    }
   
   
    
  }
  
  /* Media query for max-width 800px */
  @media screen and (max-width: 800px) {

    .Bank-Container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        top: 70px;
        left: 50px;
        /* border: 1px solid black; */
      }
      
   
   
  
   
    
  }
  

  
  