.Stepperformcontainer {
  margin-top: 70px;
  transform: translateX(230px);
  height: 139px;
}

.sub-containerdetail {
  width: 97%;
  position: absolute;
  left: 80px;
  margin-left: 40px;
  height: 139px;
  border: 0.5px solid #979797;
 
  transform: scale(1.0);
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.stepper-container {
  display: flex;
  transform: translateY(25px);
  justify-content: space-between;
}



.image {
  position: absolute;
  top: -2px;
  height: 44px;
  width: 24px;
  color: black;
}

.step.valid {
  background-color: rgba(0, 183, 29, 1);
}

.step {
  cursor: pointer;
  width: 45px;
  height: 44px;
  padding: 10px;
  border-radius: 100px;
  background-color: #c7c8cc;
}

.component-container {
  width: 90%;
}

.icon .invalid {
  background-color: red;
}

.visited {
  background-color: orange;
  color: white;
}

.visited.icon {
  color: white !important;
}

.step.active {
  background-color: rgba(182, 210, 140, 1);
  color: #fff;
}

.btn-footer {
  position: relative;
  bottom: 10px;
 
  margin-bottom: 20px;
  width: 1200px;
  // top: 70px;
 

left:320px;
// height: 108px;
// right: 30px;

padding: 32px 32px 32px 817px;

// box-shadow: 3px 0px 10px 0px #00000040;

  display: flex;
  flex-direction: row-reverse;
}

.save_next {
  width: 130px;
  height: 45px;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  background-color: #67833e;
  border: 1px solid #67833e;
}

.clear_all {
  width: 130px;
  height: 45px;
  color: #67833e;
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #67833e;
  background: none;
}

.btn-container {
  position: relative;
  top: 1080px;
  left: 1100px;
}

.icon-text {
  color: black;
  margin-right: 20px;
  margin-top: 8px;
  margin-left: -16px;
  text-align: center;
}

.stepper-progressdetail {
  position: absolute;
  top: 45px;
  z-index: -1;
  width: 96%;
  height: 2px;
  background-color: #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.progress-bar {
  height: 100%;
  background-color: rgba(0, 183, 29, 1);
  border-radius: 5px;
}

/* Media Queries */

// @media (max-width: 1600px) {
//  .sub-containerdetail {
//     width: 1050px;
//     left: 120px;
//   }
//   .stepper-progress {
//     width: 1000px;
//   }
// }

@media (max-width: 1500px) {
 .sub-containerdetail {
    width: 1050px;
    left: 120px;
  }
  .stepper-progress {
    width: 1000px;
  }
}



@media (max-width: 1450px) {
 .sub-containerdetail {
    width: 900px;
    left: 120px;
  }
  .stepper-progressdetail{
    width: 850px;
  }
}
@media (max-width: 1280px) {
  .Stepperformcontainer {
    margin-top: 190px;
    height: 200px;
    width: 900px;
  }
 .sub-containerdetail {
    width: 830px;
    left: 100px;
  }
  .stepper-progressdetail {
    width: 750px;
  }
  .btn-footer
  {
    position: relative;
    top:160px
  }
}


@media (max-width: 1250px) {
  .Stepperformcontainer {
    margin-top: 190px;
    height: 200px;
    width: 900px;
  }
 .sub-containerdetail {
    width: 850px;
    left: 100px;
  }
  .stepper-progressdetail {
    width: 800px;
  }
  .btn-footer
  {
    position: relative;
    top:160px
  }
}

@media (max-width: 1240px) {
  .Stepperformcontainerdetail {
    margin-top: 190px;
    height: 200px;
    width: 900px;
  }
 .sub-containerdetail {
    width: 800px;
    left: 100px;
  }
  .stepper-progressdetail {
    width: 750px;
  }
  .btn-footer
  {
    position: relative;
    top:160px
  }
}
@media (max-width: 1180px) {
  .Stepperformcontainerdetail {
    margin-top: 190px;
    height: 200px;
    width: 900px;
  }
 .sub-containerdetail {
    width: 650px;
    left: 100px;
  }
  .stepper-progressdetail {
    width: 600px;
  }
  .btn-footer
  {
    position: relative;
    top:160px
  }
}



@media (max-width: 1080px) {
  .Stepperformcontainer {
    margin-top: 190px;
    transform: translateX(250px);
    height: 200px;
  }
 .sub-containerdetail {
    width: 670px;
    top: 10px;
    left: 20px;
  }
  .stepper-progressdetail {
    width: 600px;
  }
}


@media (max-width: 1000px) {
  .Stepperformcontainer {
    margin-top: 190px;
    transform: translateX(250px);
    height: 200px;
  }
 .sub-containerdetail {
    width: 575px;
    top: 10px;
   
  }
  .stepper-progressdetail {
    width: 500px;
  }
  .icon-text{
    font-size: 12px;
  }
  
}
