.delivery {
  position: relative;
  margin-left: 370px;
  top: 30px;

  p {
    color: #666666;
    font-size: 13px;
    font-weight: 500;
    margin-top: -5px;
  }
}

  .delivery-header {
    h2 {
      font-family: "Poppins", sans-serif;

      color: #2f2f2f;

      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      text-align: left;
      margin-bottom: 20px;
    }


    h3 {
      font-family: "Poppins", sans-serif;


    h3{
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      

      color: #2f2f2f;

      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      text-align: left;

      margin-bottom: 10px;
    }

    p {
      color: #666666;

      //styleName: Subtitle/Text 14;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      margin-top: -10px;
    }
  }

  //Button
  .button {
    margin-top: 25px;
    .enableBtn {
      width: 100px;
      height: 35px;
      text-align: center;
      border-radius: 20px;
      border-width: 1px;
      border-color: #979797;

      color: #666666;
      cursor: pointer;
      border: none;
      // box-shadow: 1px 1px 1px 1px #979797;
      margin-right: 15px;
    }

    .disableBtn {
      width: 100px;
      height: 35px;
      text-align: center;
      border-radius: 20px;
      border-width: 1px;
      background-color: #0d79dc;
      border: none;

      color: white;
      cursor: pointer;
      // box-shadow: 1px 1px 1px 1px #0d79dc;
      margin-right: 15px;
    }
  }

  .deliveryContent {
    margin-top: -70px;

    h3 {
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      text-align: left;
    }
  }
  //CheckBox
  .checkBoxContainer {
    width: 100%;
    // margin-left: 80px;
    margin-top: 20px;
    width: auto;
    display: flex;

    .cPname {
      color: #2f2f2f;
      //styleName: Subtitle/Text 16;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
    }
  }

  .checkboxdelivery {
    display: none;
  }

  .checkboxdelivery + p::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #979797;
    border-radius: 4px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
  }

  .checkboxdelivery:checked + p::before {
    background-color: #67833e;
    border-color: #67833e;
    content: "✔";
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
  }

  //Add Time component
  .addTime {
    margin-top: 10px;
    margin-left: 30px;

    .deleteTime {
      margin-left: 10px;
      color: red;
    }
    p {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-top: 20px;
      color: #67833e;
      margin-left: 340px;
      cursor: pointer;

      text-align: center;
    }
  }

  .payment {
    margin-bottom: 30px;
    p {
      margin-bottom: 15px;
      //styleName: Subtitle/Text 14;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      margin-top: -10px;
      margin-bottom: 25px;
      color: #666666;
    }
    .paymentMethod {
      margin-top: 5px;
      display: flex;
      gap: 20px;
    }
    h3 {
      margin-bottom: 15px;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      text-align: left;
      color: #2f2f2f;
    }
    .cPname {
      //styleName: Subtitle/Text 16;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #2f2f2f;
    }
  }

  //radio-btn

  .radioBtn {
    display: flex;
    margin-top: -5px;

    .sessionContainer {
      margin-right: 15px;

      input[type="radio"] {
        display: none;
      }

      label {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      input[type="radio"] + p::before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 2px solid #979797;
        border-radius: 50%;
        margin-right: 5px;
        vertical-align: middle;
        cursor: pointer;
      }

      input[type="radio"]:checked + p::before {
        background-color: #67833e;
        border-color: #67833e;
        box-shadow: inset 0 0 0 4px white;
      }

      p {
        color: black;
        margin-top: 18px;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        color: #2f2f2f;
      }
    }
  }

  .priceDetails {
    margin-top: 20px;
    margin-bottom: 20px;

    h3 {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      text-align: left;
      color: #2f2f2f;
    }
    .input-container {
      position: relative;
      display: inline-block;
      margin-right: 10px;
      margin-top: 10px;
      .input1 {
        margin-left: -10px;
        padding-left: 35px;
        top: 59px;
        width: 292px;
        height: 44px;
        border-radius: 4px;
        border: 1px solid #979797;
        margin-top: 2px;
      }

      .inputcontainermaximum {
        margin-left: 10px;
      }

      p {
        //styleName: Subtitle/Text 16;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        color: #666666;
      }
    }

    .symbol {
      position: relative;

      left: 20px;
      transform: translateY(-50%);
      pointer-events: none;
    }

    .input {
      padding-left: 25px;
      margin-top: 2px;
      top: 59px;
      width: 292px;
      height: 44px;

      border-radius: 4px;
      border: 1px solid #979797;
    }
  }

  .schedule {
    margin-bottom: 30px;
    h3 {
      margin-bottom: 15px;
    }
    h3 {
      margin-bottom: 15px;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      text-align: left;
      color: #2f2f2f;
    }
    p {
      //styleName: Subtitle/Text 14;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
      color: #666666;
      margin-top: -10px;
      margin-bottom: 10px;
    }
  }

  .deliveryInfo {
    margin-bottom: 30px;
    h3 {
      margin-bottom: 15px;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      text-align: left;
      color: #2f2f2f;
    }
    p {
      margin-bottom: 15px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
      color: #666666;
      margin-top: -10px;
    }
  }

  //schedule delivery container
  .scheduleContainer {
    width: 133px;
    height: 44px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    .scheduledContent {
      p {
        color: #000000;
        // font-size: 17px;
        // padding-top: 13px;
        // padding-left: 25px;
        // font-weight: 500;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        position: relative;
        top: 20px;
        left: 30px;
      }
    }
    .arrow {
      margin-right: 15px;
      margin-top: -7px;
      .upsideArrow {
        img {
          transform: rotate(180deg);
          cursor: pointer;
          margin-top: -2px;
          width: 12px;
          height: 6px;
        }
      }
      .downsideArrow {
        img {
          cursor: pointer;
          width: 12px;
          height: 6px;
        }
      }
    }
  }

  //package charge
  .packageCharge {
    margin-top: 15px;
    margin-bottom: 30px;
    .input-container {
      position: relative;
      display: inline-block;
      margin-right: 20px;
      margin-left: -10px;
    }

    h3 {
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      text-align: left;
      color: #2f2f2f;
    }

    .symbol {
      position: relative;

      left: 20px;
      transform: translateY(-50%);
      pointer-events: none;
    }

    .input {
      padding-left: 25px;
      box-sizing: border-box;
      border-width: 1px;
      width: 292px;
      height: 44px;

      border-radius: 4px 0px 0px 0px;
      border: 1px solid #979797;
    }
  }

  //delivery option
  .deliveryOption {
    margin-top: 15px;
    h3 {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      color: #2f2f2f;
    }

    .deliveryOptionContainer {
      display: flex;
      margin-top: 20px;
      gap: 20px;

      p {
        color: #2f2f2f;
        //styleName: Subtitle/Text 16;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }

  //Distance(max raidus)
  .distance {
    h5 {
      font-weight: 500;
      font-size: 15px;
    }
    input {
      margin-top: -5px;
    }
  }
  .defaultCount {
    margin-top: 20px;
  }
  .basedOnDistance {
    .distanceInput {
      display: flex;
      margin-top: 10px;
      .input-container {
        position: relative;
        display: inline-block;
        margin-right: 20px;
      }

      .symbol {
        position: absolute;
        top: 59px;
        left: 10px;
        transform: translateY(-50%);
        pointer-events: none;
      }

      .input {
        padding-left: 25px;
        box-sizing: border-box;
        border-width: 1px;
      }
    }
  }
  .flatfee {
    .input-container {
      position: relative;
      display: inline-block;
      margin-right: 20px;
    }

    .symbol {
      position: absolute;
      top: 59px;
      left: 10px;
      transform: translateY(-50%);
      pointer-events: none;
    }

    .input {
      padding-left: 25px;
      box-sizing: border-box;
      border-width: 1px;
    }
  }

  // .inHousedeliveryoption
  // {

  //   height: 100vh;
  // }
  // .thirdpartydeliveryoption
  // {

  //   height: 30vh;
  // }

  .feesStructure {
    margin-top: 20px;
  }

  .inhouse {
    margin-top: 30px;

    width: 750px;
    border: 1px solid #979797;
    padding: 0 40px 20px 40px;
    border-radius: 8px;

    .header {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      justify-content: space-between;
      cursor: pointer;
    }
    .body {
      p {
        margin-bottom: 20px;
      }
    }
    .arrowDown {
      margin-right: 5px;
      transform: rotate(180deg);
    }
    .arrowUp {
      margin-right: 5px;
      transform: rotate(0deg);
    }
  }

  .distance {
    h5 {
      margin-bottom: 20px;
    }
  }

  .thirdParty {
    margin-top: 30px;
    width: 880px;
    border: 1px solid #979797;
    padding: 0 40px 20px 40px;
    border-radius: 8px;

    .header {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      margin-top: 20px;
      h3 {
        margin-right: 50px;
      }
      .arrowDown {
        margin-right: 5px;
        transform: rotate(180deg);
      }
      .arrowUp {
        margin-right: 5px;
        transform: rotate(0deg);
      }
    }

    .thirdPartyCheckBox {
      margin-top: 40px;
      display: flex;
      gap: 20px;
    }
    .thirdPartyInputContaianer {
      display: flex;
      margin-bottom: 30px;
      gap: 30px;
      .thirdPartyInput {
        input {
          font-size: 15px;
          height: 35px;
          width: 250px;
          border: 1px solid #979797;
        }
        p {
          margin-top: 15px;
          margin-bottom: -5px;
          font-size: 16px;
        }
        .checkBoxContainer {
          width: 100%;
          // margin-left: 80px;
          margin-top: 20px;
          width: auto;
          display: flex;

          .cPname {
            // color: #2F2F2F;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
          }
        }
        

        .checkbox {
          display: none;
        }

        .checkbox + p::before {
          content: "";
          display: inline-block;
          width: 15px;
          height: 15px;
          border: 2px solid #979797;
          border-radius: 4px;
          margin-right: 5px;
          vertical-align: middle;
          cursor: pointer;
        }

        .checkbox:checked + p::before {
          background-color: #67833e;
          border-color: #67833e;
          content: "✔";
          color: white;
          font-size: 10px;
          text-align: center;
          line-height: 15px;
        }
      }
    }
  }

  .cod {
    margin-top: 20px;
    h3 {
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 5px;
    }
  }

  .batchOrder {
    margin-top: 10px;
    h3 {
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 5px;
    }
  }

  .button {
    margin-bottom: 100px;
    .buttonsContainer {
      position: fixed;
      bottom: 10px;
      right: 10px;
      display: flex;
      gap: 10px;
    }
    .cancelBtn {
      width: 140px;
      height: 45px;
      font-size: 15px;
      font-weight: 600;
      border-radius: 9px;
      text-align: center;
      color: #6a8c3a;
      border-style: solid;
      border-width: thin;
      border-color: #6a8c3a;
      background-color: #fff;
      margin-right: 30px;
      cursor: pointer;

      &.cancelBtn:hover {
        box-shadow: 1px 1px 1px 1px #6a8c3a;
      }
    }
    .saveBtn {
      width: 140px;
      height: 45px;
      font-size: 15px;
      font-weight: 600;
      border-radius: 9px;
      text-align: center;
      color: #fff;
      background-color: #6a8c3a;
      border-style: hidden;
      cursor: pointer;

      &.saveBtn:hover {
        box-shadow: 1px 1px 1px 1px #6a8c3a;
      }
    }
  }
}

@media (max-width: 1280px) {
  .delivery {
    margin-top: -50px;
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
    .button {
      .enableBtn {
        width: 84px;
        font-size: 13px;
      }

      .disableBtn {
        width: 84px;
        font-size: 13px;
      }
    }

    .scheduleContainer {
      .arrow {
        margin-right: 5px;
        margin-top: -10px;
        .upsideArrow {
          img {
            transform: rotate(180deg);
            cursor: pointer;
            font-size: 20px;
          }
        }
        .downsideArrow {
          img {
            cursor: pointer;
            font-size: 20px;
          }
        }
      }
    }
    .addTime {
      .deleteTime {
        margin-top: 100px;
      }
    }

    .checkBoxContainer {
      width: 100%;
      margin-top: 20px;
      .cPname {
        font-size: 12px;
      }
    }

    .checkbox {
      display: none;
    }

    .checkbox + p::before {
      width: 13px;
      height: 13px;
    }

    .checkbox:checked + p::before {
      background-color: #67833e;
      border-color: #67833e;
      content: "✔";
      color: white;
      font-size: 10px;
      text-align: center;
      line-height: 15px;
    }
    .radioBtn {
      .sessionContainer {
        margin-right: 15px;

        label {
          display: flex;
          align-items: center;
          cursor: pointer;
        }
        input[type="radio"] + p::before {
          width: 14px;
          height: 14px;
        }
      }
    }
    .priceDetails {
      margin-top: 10px;
      margin-bottom: 30px;

      .symbol {
        top: 43px;
      }
    }
    .scheduleContainer {
      width: 123px;
      height: 40px;

      .scheduledContent {
        p {
          font-size: 15px;
        }
      }
      .arrow {
        margin-right: 5px;
        margin-top: -5px;
      }
    }
    .packageCharge {
      .symbol {
        top: 30px;
      }
    }
    .distance {
      h5 {
        font-weight: 500;
        font-size: 13px;
      }
      input {
        width: 200px;
        height: 30px;
        margin-top: -20px;
        font-size: 13px;
      }
    }
    .batchOrder {
      input {
        width: 200px;
        height: 30px;
        margin-top: -9px;
        font-size: 13px;
      }
    }
    .basedOnDistance {
      .distanceInput {
        margin-top: 5px;

        .symbol {
          font-size: 13px;
          top: 38px;
          left: 10px;
        }

        .input {
          width: 200px;
          height: 30px;
          margin-top: -20px;
          font-size: 13px;
        }
      }
    }
    .flatfee {
      .symbol {
        font-size: 13px;
        top: 38px;
      }

      .input {
        width: 200px;
        height: 30px;
        margin-top: -20px;
        font-size: 13px;
      }
    }
    .inhouse {
      margin-top: 20px;
      width: 600px;
      border: 1px solid #979797;
      padding: 0 40px 20px 40px;
      border-radius: 8px;

      .header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
      }
      .arrowDown {
        margin-right: 5px;
        transform: rotate(180deg);
      }
      .arrowUp {
        margin-right: 5px;
        transform: rotate(0deg);
      }
    }
    .thirdParty {
      margin-top: 20px;
      width: fit-content;
      border: 1px solid #979797;
      padding: 0 40px 20px 40px;
      border-radius: 8px;

      .header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        h3 {
          margin-right: 50px;
        }
        .arrowDown {
          margin-right: 5px;
          transform: rotate(180deg);
        }
        .arrowUp {
          margin-right: 5px;
          transform: rotate(0deg);
        }
      }

      .thirdPartyCheckBox {
        margin-top: 40px;
        display: flex;
        gap: 20px;
      }
      .thirdPartyInputContaianer {
        display: flex;
        gap: 30px;
        .thirdPartyInput {
          input {
            border-width: 1px;
            width: 200px;
            height: 25px;
            font-size: 13px;
          }
          p {
            font-size: 13px;
          }
          .checkBoxContainer {
            width: 100%;
          }
        }
      }
    }
    .button {
      .buttonsContainer {
        position: fixed;
        bottom: 10px;
        right: 10px;
        display: flex;
        gap: 8px;
      }
      .cancelBtn {
        width: 100px;
        height: 35px;
        font-size: 13px;
        font-weight: 500;
        border-radius: 9px;
        text-align: center;
        color: #6a8c3a;
        border-style: solid;
        border-width: thin;
        border-color: #6a8c3a;
        background-color: #fff;
        margin-right: 20px;
        cursor: pointer;

        &.cancelBtn:hover {
          box-shadow: 1px 1px 1px 1px #6a8c3a;
        }
      }
      .saveBtn {
        width: 100px;
        height: 35px;
        font-size: 13px;
        font-weight: 500;
        border-radius: 9px;
        text-align: center;
        color: #fff;
        background-color: #6a8c3a;
        border-style: hidden;
        cursor: pointer;

        &.saveBtn:hover {
          box-shadow: 1px 1px 1px 1px #6a8c3a;
        }
      }
    }
    .addTime {
      .deleteTime {
        margin-top: 40px;
        margin-left: 350px;
        color: red;
      }
      p {
        margin-top: 40px;
        color: #67833e;
        margin-left: -220px;
      }
      .Addtimeslot {
        margin-left: 400px;
      }
    }
  }
}

@media (max-width: 1080px) {
  .delivery {
    margin-top: -50px;
    position: relative;
    left: -100px;

    h3 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
    .button {
      .enableBtn {
        width: 84px;
        font-size: 13px;
      }

      .disableBtn {
        width: 84px;
        font-size: 13px;
      }
    }
    .checkBoxContainer {
      width: 100%;
      margin-top: 20px;
      .cPname {
        font-size: 12px;
      }
    }

    .checkbox {
      display: none;
    }

    .checkbox + p::before {
      width: 13px;
      height: 13px;
    }

    .checkbox:checked + p::before {
      background-color: #67833e;
      border-color: #67833e;
      content: "✔";
      color: white;
      font-size: 10px;
      text-align: center;
      line-height: 15px;
    }
    .radioBtn {
      .sessionContainer {
        margin-right: 15px;

        label {
          display: flex;
          align-items: center;
          cursor: pointer;
        }
        input[type="radio"] + p::before {
          width: 14px;
          height: 14px;
        }
      }
    }
    .priceDetails {
      margin-top: 10px;

      .symbol {
        top: 55px;
      }
    }
    .scheduleContainer {
      width: 123px;
      height: 40px;

      .scheduledContent {
        p {
          font-size: 15px;
        }
      }
      .arrow {
        margin-right: 5px;
        margin-top: -5px;
      }
    }
    .packageCharge {
      .symbol {
        top: 30px;
      }
    }
    .distance {
      h5 {
        font-weight: 500;
        font-size: 13px;
      }
      input {
        width: 200px;
        height: 30px;
        margin-top: -9px;
        font-size: 13px;
      }
    }
    .batchOrder {
      input {
        width: 200px;
        height: 30px;
        margin-top: -9px;
        font-size: 13px;
      }
    }
    .basedOnDistance {
      .distanceInput {
        margin-top: 5px;

        .symbol {
          font-size: 13px;
          top: 38px;
          left: 10px;
        }

        .input {
          width: 200px;
          height: 30px;
          margin-top: -9px;
          font-size: 13px;
        }
      }
    }
    .flatfee {
      .symbol {
        font-size: 13px;
        top: 38px;
      }

      .input {
        width: 200px;
        height: 30px;
        margin-top: -9px;
        font-size: 13px;
      }
    }
    .inhouse {
      margin-top: 20px;
      width: 600px;
      border: 1px solid #979797;
      padding: 0 40px 10px 40px;
      border-radius: 8px;

      .header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
      }
      .arrowDown {
        margin-right: 5px;
        transform: rotate(180deg);
      }
      .arrowUp {
        margin-right: 5px;
        transform: rotate(0deg);
      }
    }
    .thirdParty {
      margin-top: 20px;
      width: fit-content;
      border: 1px solid #979797;
      padding: 0 40px 10px 40px;
      border-radius: 8px;

      .header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        h3 {
          margin-right: 50px;
        }
        .arrowDown {
          margin-right: 5px;
          transform: rotate(180deg);
        }
        .arrowUp {
          margin-right: 5px;
          transform: rotate(0deg);
        }
      }

      .thirdPartyCheckBox {
        margin-top: 40px;
        display: flex;
        gap: 20px;
      }
      .thirdPartyInputContaianer {
        display: flex;
        // gap: 30px;
        .thirdPartyInput {
          input {
            border-width: 1px;
            width: 200px;
            height: 25px;
            font-size: 13px;
          }
          p {
            font-size: 13px;
          }
          .checkBoxContainer {
            width: 100%;
          }
        }
      }
    }
    .button {
      .buttonsContainer {
        position: fixed;
        bottom: 10px;
        right: 10px;
        display: flex;
        gap: 8px;
      }
      .cancelBtn {
        width: 100px;
        height: 35px;
        font-size: 13px;
        font-weight: 500;
        border-radius: 9px;
        text-align: center;
        color: #6a8c3a;
        border-style: solid;
        border-width: thin;
        border-color: #6a8c3a;
        background-color: #fff;
        margin-right: 20px;
        cursor: pointer;

        &.cancelBtn:hover {
          box-shadow: 1px 1px 1px 1px #6a8c3a;
        }
      }
      .saveBtn {
        width: 100px;
        height: 35px;
        font-size: 13px;
        font-weight: 500;
        border-radius: 9px;
        text-align: center;
        color: #fff;
        background-color: #6a8c3a;
        border-style: hidden;
        cursor: pointer;

        &.saveBtn:hover {
          box-shadow: 1px 1px 1px 1px #6a8c3a;
        }
      }
    }
    .addTime {
      .deleteTime {
        margin-top: 40px;
        margin-left: 350px;
        color: red;
      }
      p {
        margin-top: 40px;
        color: #67833e;
        margin-left: 30px;
      }
    }
  }
}

@media (max-width: 800px) {
  .delivery {
    h2 {
      font-size: 17px;
    }
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
    .button {
      .enableBtn {
        width: 80px;
        font-size: 12px;
      }

      .disableBtn {
        width: 80px;
        font-size: 12px;
      }
    }
    .checkBoxContainer {
      width: 100%;
      margin-top: 20px;
      .cPname {
        font-size: 12px;
      }
    }

    .checkbox {
      display: none;
    }

    .checkbox + p::before {
      width: 12px;
      height: 12px;
    }

    .checkbox:checked + p::before {
      background-color: #67833e;
      border-color: #67833e;
      content: "✔";
      color: white;
      font-size: 10px;
      text-align: center;
      line-height: 15px;
    }
    .radioBtn {
      .sessionContainer {
        margin-right: 15px;

        label {
          display: flex;
          align-items: center;
          cursor: pointer;
        }
        input[type="radio"] + p::before {
          width: 13px;
          height: 13px;
        }
      }
    }
    .priceDetails {
      margin-top: 10px;

      input {
        margin-top: -20px;
        width: 200px;
      }

      .symbol {
        top: 38px;
      }
    }
    .scheduleContainer {
      width: 115px;
      height: 30px;

      .scheduledContent {
        p {
          font-size: 13px;
        }
      }
      .arrow {
        font-size: 10px;
        margin-right: 5px;
        margin-top: 1px;
        cursor: pointer;
      }
    }
    .packageCharge {
      .symbol {
        top: 14px;
      }
      input {
        width: 200px;
        height: 30px;
        margin-top: -9px;
        font-size: 13px;
      }
    }
    .distance {
      h5 {
        font-weight: 500;
        font-size: 13px;
      }
      input {
        width: 200px;
        height: 25px;
        margin-top: -9px;
        font-size: 12px;
        border-width: 1px;
      }
    }
    .batchOrder {
      input {
        width: 200px;
        height: 25px;
        margin-top: -9px;
        font-size: 13px;
        border-width: 1px;
      }
    }
    .basedOnDistance {
      .distanceInput {
        margin-top: 5px;

        .symbol {
          font-size: 13px;
          top: 38px;
          left: 10px;
        }

        .input {
          width: 200px;
          height: 30px;
          margin-top: -9px;
          font-size: 13px;
        }
      }
    }
    .inhouse {
      margin-top: 20px;
      width: 30%;
      border: 1px solid #979797;
      padding: 0 40px 10px 40px;
      border-radius: 8px;

      .header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
      }
      .arrowDown {
        margin-right: 5px;
        transform: rotate(180deg);
      }
      .arrowUp {
        margin-right: 5px;
        transform: rotate(0deg);
      }
    }
    .thirdParty {
      margin-top: 20px;
      width: fit-content;
      border: 1px solid #979797;
      padding: 0 40px 10px 40px;
      border-radius: 8px;

      .header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        h3 {
          margin-right: 50px;
        }
        .arrowDown {
          margin-right: 5px;
          transform: rotate(180deg);
        }
        .arrowUp {
          margin-right: 5px;
          transform: rotate(0deg);
        }
      }

      .thirdPartyCheckBox {
        margin-top: 40px;
        display: flex;
        gap: 20px;
      }
      .thirdPartyInputContaianer {
        display: grid;
        gap: 5px;
        .thirdPartyInput {
          input {
            border-width: 1px;
            width: 200px;
            height: 25px;
            font-size: 13px;
          }
          p {
            font-size: 13px;
          }
          .checkBoxContainer {
            width: 100%;
          }
        }
      }
    }
    .button {
      .buttonsContainer {
        position: fixed;
        bottom: 10px;
        right: 10px;
        display: flex;
        gap: 8px;
      }
      .cancelBtn {
        width: 90px;
        height: 30px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 9px;
        text-align: center;
        color: #6a8c3a;
        border-style: solid;
        border-width: thin;
        border-color: #6a8c3a;
        background-color: #fff;
        margin-right: 20px;
        cursor: pointer;

        &.cancelBtn:hover {
          box-shadow: 1px 1px 1px 1px #6a8c3a;
        }
      }
      .saveBtn {
        width: 90px;
        height: 30px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 9px;
        text-align: center;
        color: #fff;
        background-color: #6a8c3a;
        border-style: hidden;
        cursor: pointer;

        &.saveBtn:hover {
          box-shadow: 1px 1px 1px 1px #6a8c3a;
        }
      }
    }
    .addTime {
      .deleteTime {
        margin-top: -60px;
        margin-left: 450px;
        color: red;
      }
      p {
        margin-top: 40px;
        color: #67833e;
        margin-left: 150px;
      }
    }
    .feesStructure {
      .sessionName {
        margin-right: -7px;
        font-size: 14px;
      }
    }
    .basedOnDistance {
      p {
        margin-top: 5px;
      }

      .distanceInput {
        margin-top: 5px;
        display: grid;
        margin-top: 5px;

        .symbol {
          font-size: 13px;
          top: 46px;
          left: 10px;
        }

        .input {
          width: 200px;
          height: 30px;
          margin-top: -9px;
          font-size: 13px;
        }
      }
    }
    .flatfee {
      .symbol {
        font-size: 13px;
        top: 38px;
      }

      .input {
        width: 200px;
        height: 30px;
        margin-top: -9px;
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 500px) {
  .delivery {
    h2 {
      font-size: 17px;
    }
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
    .button {
      .enableBtn {
        width: 80px;
        font-size: 12px;
      }

      .disableBtn {
        width: 80px;
        font-size: 12px;
      }
    }
    .checkBoxContainer {
      width: 100%;
      margin-top: 20px;
      .cPname {
        font-size: 12px;
      }
    }

    .checkbox {
      display: none;
    }

    .checkbox + p::before {
      width: 12px;
      height: 12px;
    }

    .checkbox:checked + p::before {
      background-color: #67833e;
      border-color: #67833e;
      content: "✔";
      color: white;
      font-size: 10px;
      text-align: center;
      line-height: 15px;
    }
    .radioBtn {
      .sessionContainer {
        margin-right: 15px;

        label {
          display: flex;
          align-items: center;
          cursor: pointer;
        }
        input[type="radio"] + p::before {
          width: 13px;
          height: 13px;
        }
      }
    }
    .priceDetails {
      margin-top: 10px;

      input {
        margin-top: -20px;
        width: 200px;
      }

      .symbol {
        top: 38px;
      }
    }
    .scheduleContainer {
      width: 115px;
      height: 30px;

      .scheduledContent {
        p {
          font-size: 13px;
        }
      }
      .arrow {
        font-size: 10px;
        margin-right: 5px;
        margin-top: 1px;
        cursor: pointer;
      }
    }
    .packageCharge {
      .symbol {
        top: 14px;
      }
      input {
        width: 200px;
        height: 30px;
        margin-top: -9px;
        font-size: 13px;
      }
    }
    .distance {
      h5 {
        font-weight: 500;
        font-size: 13px;
      }
      input {
        width: 200px;
        height: 25px;
        margin-top: -9px;
        font-size: 12px;
        border-width: 1px;
      }
    }
    .batchOrder {
      input {
        width: 200px;
        height: 25px;
        margin-top: -9px;
        font-size: 13px;
        border-width: 1px;
      }
    }
    .basedOnDistance {
      .distanceInput {
        margin-top: 5px;

        .symbol {
          font-size: 13px;
          top: 38px;
          left: 10px;
        }

        .input {
          width: 200px;
          height: 30px;
          margin-top: -9px;
          font-size: 13px;
        }
      }
    }
    .inhouse {
      margin-top: 20px;
      width: 30%;
      border: 1px solid #979797;
      padding: 0 40px 10px 40px;
      border-radius: 8px;

      .header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
      }
      .arrowDown {
        margin-right: 5px;
        transform: rotate(180deg);
      }
      .arrowUp {
        margin-right: 5px;
        transform: rotate(0deg);
      }
    }
    .thirdParty {
      margin-top: 20px;
      width: fit-content;
      border: 1px solid #979797;
      padding: 0 40px 10px 40px;
      border-radius: 8px;

      .header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        h3 {
          margin-right: 50px;
        }
        .arrowDown {
          margin-right: 5px;
          transform: rotate(180deg);
        }
        .arrowUp {
          margin-right: 5px;
          transform: rotate(0deg);
        }
      }

      .thirdPartyCheckBox {
        margin-top: 40px;
        display: flex;
        gap: 20px;
      }
      .thirdPartyInputContaianer {
        display: grid;
        gap: 5px;
        .thirdPartyInput {
          input {
            border-width: 1px;
            width: 200px;
            height: 25px;
            font-size: 13px;
          }
          p {
            font-size: 13px;
          }
          .checkBoxContainer {
            width: 100%;
          }
        }
      }
    }
    .button {
      .buttonsContainer {
        position: fixed;
        bottom: 10px;
        right: 10px;
        display: flex;
        gap: 8px;
      }
      .cancelBtn {
        width: 90px;
        height: 30px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 9px;
        text-align: center;
        color: #6a8c3a;
        border-style: solid;
        border-width: thin;
        border-color: #6a8c3a;
        background-color: #fff;
        margin-right: 20px;
        cursor: pointer;

        &.cancelBtn:hover {
          box-shadow: 1px 1px 1px 1px #6a8c3a;
        }
      }
      .saveBtn {
        width: 90px;
        height: 30px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 9px;
        text-align: center;
        color: #fff;
        background-color: #6a8c3a;
        border-style: hidden;
        cursor: pointer;

        &.saveBtn:hover {
          box-shadow: 1px 1px 1px 1px #6a8c3a;
        }
      }
    }
    .addTime {
      .deleteTime {
        margin-top: -60px;
        margin-left: 160px;
        color: red;
      }
      p {
        margin-top: 40px;
        color: #67833e;
        margin-left: -150px;
      }
    }
    .feesStructure {
      .sessionName {
        margin-right: -7px;
      }
    }
    .basedOnDistance {
      p {
        margin-top: 5px;
      }

      .distanceInput {
        margin-top: 5px;
        display: grid;
        margin-top: 5px;

        .symbol {
          font-size: 13px;
          top: 46px;
          left: 10px;
        }

        .input {
          width: 200px;
          height: 30px;
          margin-top: -9px;
          font-size: 13px;
        }
      }
    }
    .flatfee {
      .symbol {
        font-size: 13px;
        top: 38px;
      }

      .input {
        width: 200px;
        height: 30px;
        margin-top: -9px;
        font-size: 13px;
      }
    }
  }
}
