.RestaurantImagemain{
  position: relative;
  top: 25px;
  left: 370px;
}

.RestaurantImageHeading1{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
color: #2F2F2F;  
margin-bottom: 15px;

}
.RestaurantImageHeading2{
  font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
text-align: left;
color:#2F2F2F;
}

.RestaurantImagePara{
  //styleName: Subtitle/Text 14;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #666666;
margin-bottom: 10px;
  

}
.headingrestrauntimage2{
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  top:400px;
  color: #2F2F2F;
  p{
    //styleName: Subtitle/Text 14;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #666666;
  }




}

.error{
  color: red;
  font-size: 14px;
  transform: translateY(260px);
}
.error1{
  color: red;
  font-size: 14px;
  transform: translateY(600px);
}
.uploadImg {
  
}
.uploadImgContainer2 {
  position: relative;
  top: 10px;
  width: 600px;
  height: 252px;
  border: 1px dotted #979797 ;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;

  
}



.uploadImgContainer {
  
  position: absolute;
  top: 440px;
  
  width: 600px;
  height: 252px;

  border: 1px dotted #979797 ;

  margin-top: 30px;

  border-radius: 5px;

  cursor: pointer;

  text-align: center;
  overflow-x: hidden;
}





  .img2 {
 
    width:100px;
    height: 200px;
    margin-top: 20px;
    overflow-x: none;

    

    height: 80px;

    border-radius: 5px;

    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  p {
    color: gray;
  }


.uploadLink {
  font-weight: 600;

  color: black;

  margin-left: 3px;

  text-decoration: underline;
  font-size: 15px;
  

}

.uploadheadings {
  p {
    display: flex;

    justify-content: center;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;

  }
}

.imageBox {
  display: flex;

  justify-content: center;
}

.uploadedImages {
  display: flex;

  gap: 10px;
}

.uploadedImage {
  gap: 10px;

  display: flex;

  img {
    cursor: grab;
    width: 120px;
    height: 100px;
  }

  img:active {
    cursor: grabbing;

    opacity: 0.5;
  }
}

.removeImgBtn {
  margin-top: -12px;

  margin-left: -23px;


  height: 20px;

  width: 23px;

border-radius: 24px;
  background-color: rgb(237, 83, 83);

  font-size: 12px;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 4px 1px #3a344f;
  }
}

@media (max-width: 1280px) {
  .RestaurantImagemain
  {
    margin-top: -50px;
    margin-left: -10px;
  }
  .uploadImg {
    img {
      width: 150px;
    height: 120px;

      border-radius: 5px;

      padding: 15px;
    }
  }

  .uploadheadings {
    p {
      font-size: 16px;
    }
  }

  .removeImgBtn {
    margin-top: 7px;

    margin-left: -30px;

    border: 1px solid rgb(237, 83, 83);

    height: 12px;

    width: 12px;

    border-radius: 10px;

    background-color: rgb(237, 83, 83);

    font-size: 9px;

    cursor: pointer;

    font-weight: 500;
  }
}


@media (max-width: 1080px) {
  .RestaurantImagemain{
   margin-left: -100px;
   margin-top: -50px;
  }
  
}
