* {
  margin: 0;
  padding: 0;
}

.main-divdine {
  position: relative;
  margin-left: 340px;
  display: flex;
  top: 30px;
 
}


.submain-divdine {
  transform: translateY(-20px);
  position: relative;
  width: 100%;
  top: 1px;
  left: 30px;
  
}
.errors{
  color:red;
  font-size: 14px;
}

.headingdine {
  width: 350px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #2f2f2f;
  margin-bottom: 30px;
}



.label {
  font-size: 14px;
 
}
.merchantlable1
{
  .labelInter {
    color: #2F2F2F;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
  
}
.merchantlable1
{
  margin-top: 10px;
}

.merchantlable2
{

  .labelInter {
    color: #2F2F2F;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }
  
}


.lablesdine
{
 .labeldine
 {
  //styleName: Subtitle/Text 14;
font-family: 'Poppins',sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #666666;


 }
}

.lablescheckin
{
 .labelcheck
 {
  //styleName: Subtitle/Text 14;
font-family: 'Poppins',sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #666666;


 }
}

.lables2
{
  .labelcheckin2
  {
    font-family: 'Poppins',sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #666666;
  }
}
.merchantlable2
{
  .labelInter
  {
    font-family: 'Poppins',sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #666666;
  }
}

.lablesreserv
{
  .labelreserv
  {
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: #666666;
  }
}

.check2
{
  #reservationdays
  {
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #666666;
  }
}

.lables1
{
  .labelreserve
  {
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #666666;
  }
}

.check1
{
  #maximuminon
  {
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #666666;

  }
  #maximuminoff
  {
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #666666;
  }
}

.check2
{
  #maximuminon
  {
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #666666;

  }
  #maximuminoff
  {
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #666666;
  }
}



.lables1 {
  margin-top: -20px;
  label {
    color: #2F2F2F;
    font-weight: 500;
    font-size: 18px;

  }
  .reservel
  {
    color: #2F2F2F;
    font-weight: 500;
    font-size: 14px;
    margin-top: 15px;
  }
  .labelcheckin1 {
    margin-top: 20px;
  }
  .labelhighchair{

    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color:  #2F2F2F;
    
   }

 
}



.labelhighchair {
.labelhighchair1{
  color: #2F2F2F;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  line-height: 27px;
}
}

.labelhighchair {
  .labelhighchair2{
    color:  #666666;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    line-height: 14px;
    
  }
  }



 
.chairradiodine {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #666666;
  margin-top: 20px;

}

.enabledisablebtninter {
  margin-bottom: 30px;
  margin-top: 10px;
 
 

}

.enabledisablebtnInter {
  margin-bottom: 10px;
 
}
.enabledisablebtn{
  display: flex;
    cursor: pointer;
    justify-content: space-between;
    background-color: #f6f6f6; /* Background for the switch */
    border-radius: 25px; /* Rounded corners for the background */
    padding: 5px; /* Some padding around the buttons */
    width: 170px; /* Adjust to content width */
    overflow: hidden;
}

.enablebtninter,
.disablebtninter {
  color: white;
  margin: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  width: 90px;
  height: 30px;
  font-size: 14px;
}

.highchairradio {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 138px;
  height: 25px;
 
 
 
  .highchairradio2 input{
    margin-left: 25px;
    margin-top: -5px;
    width: 20px;
    height: 20px;
   
  }
  .highchairradio1 input {
   margin-left: 0px;
    width: 20px;
    margin-top: -5px;
    height: 20px;
  }
}
.headingdine {
  h5{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  

  }

}
.radionamedine
{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #2F2F2F;
  margin-top: -5px;
  font-weight: 400;
}



.radioStyledine {
  // transform: scale(1.1);
  margin-right: 10px;
 
  accent-color: #67833e;
}

.interactivefn {
  width: 350px;
  height: 100px;
 
  // border: 1px solid black;
}



.labelInteractive
{
  font-family: 'Poppins',sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #666666;
}
.Dinein1,
.Interactive2,
.checkin3,
.reservation4 {
  margin-top: 10px;
  width: 100%;
}

hr {
  height: 1px;
  background-color: #979797;
  margin-top: 30px;
  margin-bottom: 10px;
 
  width: 150%;
}

.checkinform1,
.checkinform2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 2%;
}

.check1,
.check2 {
  display: flex;
  flex-direction: column;
}

#maximuminon,
#maximuminoff {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  
  
}

#maximuminonline,
#maximuminoffline {
  width: 290px;
  height: 40px;
  border-radius: 4px;
  margin-top: -1px;
  outline: none;
  border: 1px solid #2f2f2f;
  
}

#bufferbox
{
  width: 290px;
  height: 40px;
  border-radius: 4px;
  margin-top: 1px;
  outline: none;
  border: 1px solid #2f2f2f;
}

#maximuminoff {
  margin-left: 30px;
}

#maximuminoffline {
  margin-left: 30px;
}
.check1
{
  input{
    padding: 10px;
  }
}

.check2
{
  input{
    padding: 10px;
  }
}
.labelcheckin1 {
  
  font-family: 'Poppins', sans-serif;
  color: #2F2F2F;
    font-weight: 500;
    font-size: 18px;

}

.labelcheckin2 {
  color: #2F2F2F;
    font-weight: 500;
    font-size: 14px;

  font-family: 'Poppins', sans-serif;
}

.labelreserve {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
 
}

.reservecheckbox {
  display: flex;
  flex-direction: row;
  padding-left: -10px;
 
  margin-bottom: 10px;
}

.checkbox-container {
  padding: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
  
    border-radius: 3px;
    margin-right: 10px;
    border: 2px solid #979797;
    
    cursor: pointer;

    &:checked {
      border-color: #2f2f2f;
      background-color: #67833e;
      border: none;
      text-align: center;

      &::after {
        content: '✔';
        color: white;
        font-size: 10px;
       
        text-align: center;
        position: relative;
        top: -5px;
      }
    }
  }
}

.auto
{
  
}

#reservationdays {
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.Enable_btn,
.Disable_btn {
  color: black;
  margin: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 35px;
}

.blue {
  width:119px;   
 padding: 4px, 16px, 4px, 16px;
 height: 34px;
 border:0.1px;
 border-radius: 30px;   
 font-size: 14px;
 border-color: rgba(13, 121, 220, 1);
background-color: rgba(13, 121, 220, 1);
color: #979797; 
}
.inactive{
  font-size: 14px;
  outline: none;
  border:none;
  width:84px;
  cursor: pointer;
  color:#979797 ;
}

.Autoassignradio
{
 
}


@media (max-width:1280px)
{
  .main-divdine {
  position: relative;
  margin-top: -70px;

  
  }
}

@media (max-width:1080px) {
  .main-divdine {
  margin-top: -70px;
    left: -100px;
  
  }


}