.restaurantCategory {
 
  .header {
    margin-bottom: 1rem;
    h4 {
      color: #2f2f2f;
      font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
text-align: left;

    }
    p{
      //styleName: Subtitle/Text 14;
      margin-top: 2px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #666666;
    }
  }
  .pillBox {
    margin-bottom: 1rem;


    p{
      //styleName: Subtitle/Text 16;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #666666;
    }
  }
}
.description {
  p{
    //styleName: Subtitle/Text 16;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #666666;
  }
  textArea {
   
    width: 600px;
height: 94px;


    border-width: 1px;
    border-radius: 4px;
    border-color: #b3b3b3;
    padding: 10px;
    resize: none;
    font-size: 15px;
    font-family: Poppins;
  }
}
textArea::selection {
  background-color: transparent;
  color: inherit;
}

@media (max-width: 1280px) {
  .restaurantCategory {
    margin-left: -8px;
    p {
      font-size: 13px;
      color: #666666;
    }
  }
  .description {
    textArea {
      width: 450px;
      height: 100px;
      padding: 10px;
    }
  }
}

@media (max-width: 800px) {
  .restaurantCategory {
    margin-left: -8px;
    width: 440px;
    .header {
      h4 {
        width: 440px;
        // background-color: aquamarine;
      }
      p {
        width: 440px;
        // background-color: cadetblue;
      }
    }
    p {
      width: 440px;
      font-size: 13px;
      color: #666666;
      // background-color: aqua;
    }
    .pillBox {
      width: 440px;
    }
  }
  .description {
    width: 440px;
    textArea {
      width: 430px;
      height: 100px;
      padding: 10px;
    }
  }
}